	<head>
          <!-- Place your kit's code here -->
          <script src="https://kit.fontawesome.com/87f9f94dbf.js" crossorigin="anonymous"></script>
        </head>
<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
			<div class="col-lg-12 text-justify">
			<br />
                    <p style="font-size:16px; word-spacing: 1px;" class="text-muted" >There are two types of people in the world: Those who comprehend education just as a stage in life and others who perceive it as beautiful endless journey. In this journey learning a new skill is a milestone; I am on the lookout for the next one.   </p>

		<p style="font-size:16px; word-spacing: 1px;" class="text-muted" >My interest in Mechanical Design stems back to my undergraduate studies at IIT Kharagpur. As a drivetrain head of the Formula SAE team of the college, I led the design and implementation of the electro-pneumatic gear shifter over the existing manual shifter. The in-house design allowed for much faster driver ergonomic shifts while costing only one-third price of available commercial pneumatic shifters. During my junior year I worked on numerical simulation of Friction Stir Welding which won me the award "Best Utility in Commercial Category" in Innovative design and Simulation Challenge at IDETC/CIE conference held in North Carolina. In the pursuit to expand my knowledge and widen my horizons I joined Purdue University for a Masters in Aeronautics and Astronautics Engineering with major in structures and minor in controls. </p>

		<p style="font-size:16px; word-spacing: 1px;" class="text-muted" >My experience at Purdue consisted of all phases of product development using composites to achieve a lighter and better performing structure. I designed automotive components using CATIA, Solidworks with simulating the load cases in Abaqus followed by manufacturing and testing the part for experimental validation of simulation. In my masters thesis I designed, manufactured and tested composite leaf spring for Ford F-150 pickup truck. I have also worked on Department of Energy sponsored industrial projects from Ford, John Deere and Nexteer Automotive to design and build composite parts for lighter automotive structures.</p>

		<p style="font-size:16px; word-spacing: 1px;" class="text-muted" >Catering to my interest in electronics I took courses in embedded and control systems. I am proficient with microcontrollers (GPIO, UART, SPI, I2C, Interrupts) and assembly level programming. For my controls project I implemented a cruise control on a model pneumatic engine. Likewise for the embedded systems project I worked with my team to fabricate a quadcopter capable of performing facial recognition from scratch. I plan to make the quadcopter autonomous along with object detection using Lidar. I am also passionate about evolving technologies like machine learning and have done course in machine learning by coursera and currently exploring deep learning. </p>

		<p style="font-size:16px; word-spacing: 1px;" class="text-muted" >In brief my experience is as follows. </p>
			</div>
                </div>
            </div> 
		<br />
		<br />
		<br />
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mechanical Design</h4>
                    <p class="text-muted">Proficient with mechanical design and simulation, protyping using CNC and waterjet, injection molding and testing</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Electronics</h4>
                    <p class="text-muted">Familiarity with quadcopters, control systems, raspberry pi, assembly level programming, microcontrollers</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programming</h4>
                    <p class="text-muted">Proficient with Python, MATLAB and C language. Currently exploring deep learning</p>
                </div>
            </div>
        </div>
    </section>
